<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App Estacion | Admin</title>
	<link rel="stylesheet" href="resources/css/admin.css">
</head>
<body>
	<div class="wrapper">
		<div class="header"><a href="{{URL}}">Cerrar Sesion</a></div>

		<div class="container">
			<a href="{{URL}}/map">Mapa de Clientes</a>
			<div class="cant_users">Cantidad de Usuarios: {{users}}</div>
			<div class="cant_users">Cantidad de Clientes: {{clients}}</div>
		</div>
	</div>
</body>
</html>