<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion</title>
 	<link rel="stylesheet" href="resources/css/landing.css">
</head>
<body>
	<div class="wrapper">
		<h2 class="kanit">Bienvenido a APP-ESTACIÓN</h2>
		<h3 class="coolcon">
			Esta aplicaión consiste en brindar información a sus usuario en las zonas donde estan instaladas nuestras estaciones meteorologicas. 
			<p>
			Esta información nos ayudara a predecir posibles problemas ambientales y poder ver el cambio climático a lo largo del tiempo.
		</h3>
		<h4 class="kanit">Para ver nuestras estaciones disponibles <a class="color_blue" href="{{URL_APP}}/panel">Ingrese a Panel</a> </h4>
	</div>	
</body>
</html>