<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Login</title>
	<link rel="stylesheet" href="resources/css/landing.css">
</head>
<body>
	<div class="wrapper_login">
		<div class="container_form">
			<h2>Iniciar Sesión</h2>

			<form method="POST">
				<input type="hidden" name="station" id="station_id" value="{{station}}">
				<label>Usuario</label>
				<input type="text" name="email" id="email_user" class="" placeholder="" required>
				
				<label>Contraseña</label>
				<input type="password" name="pass" id="pass_user" class="" required>
				
				<a class="link_form" href="{{URL}}/recovery">¿Olvidaste tu Contraseña?</a>

				<input type="submit" id="btn-Login" name="btnLogin"  value="Aceptar">
				
				<a class="link_form" href="{{URL}}/register">¿No tienes una cuenta? Registrate</a>
				<div class="alert"></div>
			</form>

		</div>	
	</div>	
</body>
<script src="lib/mailer/funciones.js"></script>
</html>