<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Panel</title>
	<link rel="stylesheet" href="resources/css/panel.css">
</head>
<body>
	<div class="container_estaciones">
		<h1 class="title">Estaciones</h1>
		<div class="client">{{ip_client}}</div>
		<div id="estaciones" class="list_estaciones">
			<template id="tpl_estacion">
				<form class="card_estacion" method="POST">
					<input type="hidden" name="station" class="id_station">
					<input type="submit" class="btn-station" name="btnStation" value="">
					<div>
						<div class="name_estacion"></div>
						<div class="ubi_estacion"></div>
						<div class="visitas_estacion"></div>
					</div>
				</form>
			</template>		
		</div>	
	</div>
</body>
<script src="resources/js/apiEstaciones.js"></script>
<script src="resources/js/ip_trackers.js"></script>
</html>