<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Blocked</title>
	<link rel="stylesheet" href="resources/css/landing.css">
</head>
<body>	
	<div class="wrapper_login" id="recovering">
		<div class="container_form">
			<h2>Recuperar Cuenta</h2>
			<form method="POST">
				<label>Email</label>
				<input type="text" name="email_user" id="email_user" placeholder="Email">
				<input type="submit" name="btnRecove" id="btn-recover" value="Aceptar">
			</form>
			<div class="alert_maxed"></div>
		</div>	
	</div>
</body>
<script src="lib/mailer/funciones.js"></script>
</html>